<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
</head>
<body>
    <h1 style="text-align:center">Procesando Transacción</h1>
    <h2 style="text-align:center">Espera un momento...</h2>
</body>
</html>